
@{
    ViewData["Title"] = "Error404";
}

<h1 class="erro_h1">404 Error</h1>
<section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
</section>

